html,
body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #c6c6c0;
  font-family: 'Jost', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}


.App {
  text-align: center;
}

#loading {
  text-align: center;
  color: #6f570a;
  position: absolute;
  width: 90%;
  max-width: 400px;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#overlay {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-direction: column;
  width: 100%;
  height: 100%;
  pointer-events: none;

  box-shadow: 0 0 10em rgba(255, 255, 255, 1.0) inset;
  backdrop-filter: blur(5px);

  overflow: hidden;
}

#main-nav {
  text-align: center;
  font-size: 2.2rem;
  line-height: 3.2rem;
  color: #6f570a;
  pointer-events: auto;
  position: absolute;
  bottom: 14%;
  opacity: 0;
}

#main-nav a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #9b7a0f;
}

.menu {
  position: absolute;
  bottom: 6%;
  pointer-events: auto;
  stroke: #6f570a;
  fill: none;
  stroke-linecap: square;
}

.menu:hover {
  cursor: pointer;
  stroke: #9b7a0f;
}

#logo {
  width: 4em;
  position: absolute;
  top: 0;
  margin: 2em;
  pointer-events: auto;
}

#copy {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-bottom: 10px;
  color: rgba(242, 241, 238, 0.25);
  font-size: smaller;
  text-transform: uppercase;
  pointer-events: all;

}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}